<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 1. 引入vue -->
		<script src="./plugins/vue-2.6.14/vue.js"></script>
		<!-- 2. 引入样式 -->
		<link rel="stylesheet" href="./plugins/element-ui-2.15.7/theme-chalk/index.css">
		<!-- 3. 引入组件库 -->
		<script src="./plugins/element-ui-2.15.7/index.js"></script>
		<!-- axio -->
		<script src="./plugins/axio-0.27.2/axios.js"></script>
		<title>上报</title>
	</head>
	<body>
		<div id="app">
			<el-row :gutter="12">
			  <el-col :span="24">
			    <el-card shadow="never">
			      	<p><b>成都天台山制药有限公司药物警戒热线电话</b></p>
			      	<p><a href="tel:4006008511">4006008511</a>转4（座机，仅工作日）</p>
			      	<p><a href="tel:13550382576">13550382576</a>（非工作日的紧急联络方式）</p>
			    </el-card>
			  </el-col>
			</el-row>
			<el-form ref="elForm" :model="formData" :rules="rules" size="medium" label-width="100px" v-if="elFormShow"
				label-position="top">
				<el-form-item label="姓名" prop="name">
					<el-input v-model="formData.name" placeholder="请输入姓名" show-word-limit clearable
						:style="{width: '100%'}"></el-input>
				</el-form-item>
				<el-form-item label="手机号" prop="phone">
					<el-input v-model="formData.phone" placeholder="请输入手机号" :maxlength="11" clearable
						:style="{width: '100%'}">
					</el-input>
				</el-form-item>
				<el-form-item label="性别" prop="gender">
					<el-radio-group v-model="formData.gender" size="medium">
						<el-radio v-for="(item, index) in genderOptions" :key="index" :label="item.value"
							:disabled="item.disabled">{{item.label}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="药品批准文号" prop="approvalNo">
					<el-input v-model="formData.approvalNo" placeholder="请输入药品批准文号" clearable :style="{width: '100%'}">
					</el-input>
				</el-form-item>
				<el-form-item label="药品批号" prop="batchNo">
					<el-input v-model="formData.batchNo" placeholder="请输入药品批号" clearable :style="{width: '100%'}">
					</el-input>
				</el-form-item>
				<el-form-item label="疑似不良反应描述" prop="description">
					<el-input v-model="formData.description" type="textarea" placeholder="请输入疑似不良反应描述，如吃药后10分钟后发热、呕吐等症状"
						:autosize="{minRows: 4}" :style="{width: '100%'}"></el-input>
				</el-form-item>
				<el-form-item label="用药情况" prop="medication">
					<el-input v-model="formData.medication" type="textarea" placeholder="请输入用药情况"
						:autosize="{minRows: 4,}" :style="{width: '100%'}"></el-input>
				</el-form-item>
				<el-form-item label="是否接受回访" prop="returnVisit">
					<el-radio-group v-model="formData.returnVisit" size="medium">
						<el-radio v-for="(item, index) in returnVisitOptions" :key="index" :label="item.value"
							:disabled="item.disabled">{{item.label}}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item ali>
					<el-button type="primary" v-if="submitButtonFlag" @click="submitForm">提交</el-button>
				</el-form-item>
			</el-form>
			<el-row v-if="!elFormShow">
				<el-col :sm="12" :lg="6">
			    <el-result icon="success" title="提交成功" sub-title="感谢您的反馈">
			    </el-result>
			  </el-col>
			</el-row>
			<el-dialog title="提示" :visible.sync="dialogVisible" width="100%">
				<span>{{errorMsg}}</span>
				<span slot="footer" class="dialog-footer">
					<el-button type="primary" @click="dialogVisible = false">确 定</el-button>
				</span>
			</el-dialog>
		</div>
	</body>
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					elFormShow : true,
					submitButtonFlag : true,
					dialogVisible: false,
					errorMsg: "",
					formData: {
						name: '',
						phone: '',
						gender: '',
						approvalNo: '',
						batchNo: '',
						description: '',
						medication: '',
						returnVisit: '',
					},
					rules: {
						name: [{
							required: true,
							message: '请输入姓名',
							trigger: 'blur'
						}],
						phone: [{
							required: true,
							message: '请输入手机号',
							trigger: 'blur'
						}, {
							pattern: /^1(3|4|5|7|8|9)\d{9}$/,
							message: '手机号格式错误',
							trigger: 'blur'
						}],
						gender: [],
						approvalNo: [{
							required: true,
							message: '请输入药品批准文号',
							trigger: 'blur'
						}],
						batchNo: [],
						description: [{
							required: true,
							message: '请输入疑似不良反应描述',
							trigger: 'blur'
						}],
						medication: [],
						returnVisit: [{
							required: true,
							message: '请选择是否接受回访',
							trigger: 'change'
						}],
					},
					genderOptions: [{
						"label": "男",
						"value": 1
					}, {
						"label": "女",
						"value": 2
					}],
					returnVisitOptions: [{
						"label": "接受",
						"value": 1
					}, {
						"label": "不接受",
						"value": 2
					}],
				}
			},
			methods: {
				submitForm() {
					this.$refs['elForm'].validate(valid => {
						if (!valid) return;
						const loading = this.$loading({
							lock: true,
							text: '提交中……',
							spinner: 'el-icon-loading',
							background: 'rgba(0, 0, 0, 0.7)'
						});
						axios.post("http://39.98.129.8:8090/system/collect/add",
							this.formData
						).then(response => {
							// 返回结果开始下一步处理
							loading.close();
							console.log(response)
							if(response.data.code == 0){
								this.elFormShow = false
								this.submitButtonFlag = false
							}else{
								this.errorMsg = response.data.msg;
								this.dialogVisible = true;
							}
						},
						error => {
							loading.close();
							this.errorMsg = '提交失败，服务器异常！';
							this.dialogVisible = true;
						})
					})
				},
			}
		})
	</script>
</html>
